/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility */
body {
  font-family: sans-serif;
}

.full-width {
  width: 100%;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.debug {
  border: 1px solid red;
}

header {
  background-color: #b5b5b5;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
header .header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header h1 {
  font-weight: 100;
}

.movies {
  padding-top: 50px;
}
.movies .card {
  margin-bottom: 50px;
}
.movies .card h2 {
  font-size: 30px;
}
.movies .card h4 {
  font-weight: 500;
}
.movies .card h4 span {
  font-weight: 800;
}