header {
    background-color: #b5b5b5;
    border-bottom: 1px solid black;
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-weight: 100
        }
    }
}